<mat-card class="card">
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>

    <tr *ngFor="let u of allUsers">
      <td>{{ u?.firstName }} {{ u?.lastName }}</td>
      <td>{{ u?.email || '—' }}</td>
      <td>{{ u?.city || '—' }}</td>
    </tr>
  </table>
</mat-card>

<button
  (click)="openDialog()"
  class="add-user-button"
  mat-fab
  color="primary"
  matTooltip="Add user"
  matTooltipPosition="above">
  <mat-icon>add</mat-icon>
</button>
